<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Скидання пароля</title>
</head>
<body>
<p>Привіт {{username}},</p>
<p>Дякуємо, що зареєструвалися в нашому сервісі.</p>
<p>Будь ласка натисніть на це посилання, щоб підтвердити свою електронну адресу:</p>
<p>
    <a href="{{host}}api/auth/confirmed_email/{{token}}">
        Verification
    </a>
</p>
<p>Якщо ви не зареєструвалися в нашій службі, проігноруйте цей електронний лист.</p>
<p>Дякуємо, </p>
<p>наша команда</p>
</body>
</html>